@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}
.card{
    width: 700px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
}
.card:hover{
    transform: rotate(-5deg);
}
.card:hover .outside{
    transform: rotateY(-130deg);
}
.outside, .inside{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
}
.inside{
    background-image: url(background.svg);
    line-height: 3;
    padding: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 50%;
}
.outside{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;

}
.front, .back{

    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}
.front{
    background: url(background.svg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1{
    text-align: center;
    margin: 2% 0;
    font-weight: 500;
    font-size: 1.6rem;
}
img.txt{
    height: 60px;
}
img.studentTeacher{
    height: 350px;
    margin-top: 10%;
}
.back{
    transform: rotateY(180deg);
    background: linear-gradient(90deg, #ffd885 0%, #fcc348 100%);
}
.inside p{
    font-size: 1.3rem;
}
